@tailwind base;
@tailwind components;
@tailwind utilities;

.formatted-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

html, body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), url('./assets/mountains.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

div::-webkit-scrollbar {
    width: 6px; /* Thin width */
    height: 6px; /* Thin height for horizontal scrollbar */
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3); /* Minimal color */
    border-radius: 10px; /* Rounded corners */
}

div::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.5); /* Slightly darker on hover */
}

div::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}