@tailwind base;
@tailwind components;
@tailwind utilities;

.formatted-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

html, body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), url('./assets/mountains.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}